*{
    box-sizing: border-box;
    margin: 0;
}

.header-right-desktop{display: none;}
.header-right-mobile{
  display: flex;
  gap: 20px;
  width: 60px;
}
.sepet-mobile{
  margin-top: 0px;
}
.exit-btn{
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  background-color: rgb(245, 65, 65);
}

.header{
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    background-color: rgb(29, 28, 28);
    padding: 20px 30px;
    
  }

  .header-right{
    display: flex;
    align-items: center;
    gap: 10px;
    p{
      color: white;
      font-size: 12px;
      font-weight: 300;
    }
  }
  
  .header-left{
    display: flex;
    align-items: center;
    max-width: 420px;
    width: 100%;
    h2{
      background-color: rgb(25, 255, 52);
      padding: 3px 1px;
      border-radius: 5px;
    }
  }

  .header-ul{
    list-style: none;
    display: flex;
    gap: 10 0pxpx;
    color: white;
    font-size: 13px;
  }
  

  
  .new-advert{
    background-color: #489AF1;
    border-radius: 5px;
    border: none;
    padding: 5px 15px;
    color: white;
    cursor: pointer;
  }
  .gameworld-btn{
    text-decoration: none;
    color: white;
  }
  .sepet-icon{
    margin-top: 6px;
  }



@media (width >= 930px) {
  .header{
    padding: 30px 30px;

  }
  .header-right-desktop{
    display: flex;
    align-items: center;
    gap: 20px;
    p{
      color: white;
      font-size: 12px;
      font-weight: 300;
    }
  }
  .header-right-mobile{display: none;}
}

@media (width >= 1100px) {
  .header{
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    background-color: rgb(29, 28, 28);
    padding: 30px 30px;
  }

}


.offcanvas {
  text-align: end;
  position: fixed;
  top: 0;
  right: -250px; /* Başlangıçta görünmez */
  width: 250px;
  height: 100%;
  background-color: rgb(21, 20, 20);
  color: white;
  transition: right 0.3s ease;
  padding: 20px;
  z-index: 1000; /* Diğer içeriklerin üstünde olmasını sağla */
}

.offcanvas.open {
  right: 0; /* Menü açıldığında görünür hale getir */
}

.offcanvas-toggle {
  position: absolute;
  top: 27px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.offcanvas-close {
  background: none;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 20px;
}

