
body {
  max-width: 100vw;

}



*{
  box-sizing: content-box;
  margin: 0;
}


.header{

  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  background-color: #3f475f;
  padding: 10px 10%;
}

.header-left{
  display: flex;
  align-items: center;
  gap: 15px;
  h2{
    background-color: yellow;
    padding: 3px 1px;
    border-radius: 5px;
  }
  input{
    background-color: #252b39;
    border: none;
    border-radius: 2px;
    max-width: 250px;
    width: 100%;
    height: 32px;
    font-size: 12px;
  }
}

.header-right{
  display: flex;
  align-items: center;
  gap: 20px;
  p{
    color: white;
    font-size: 12px;
    font-weight: 300;
  }
}

.new-advert{
  background-color: #489AF1;
  border: none;
  padding: 8px 15px;
  color: white;
  cursor: pointer;
}